<mat-progress-spinner *ngIf="isLoading"></mat-progress-spinner>
<section class="create" *ngIf="isLoaded">
    <h1 class="create-title">Добави нов терен</h1>
    <form action="post" class="create-form" [formGroup]="formGroup" (ngSubmit)="editField()">
        <section class="create-data">
            <article class="create-wrapper">
                <article class="create-inline-wrapper">
                    <label for="city" [class.error]="shouldShowErrorForControl('cityId')">Град: <span>*</span></label>
                    <select id="city" formControlName="cityId">
                        <option *ngFor="let city of cities" value="{{city.id}}" (click)="onOptionClick(city.zipCode)">
                            {{city.name}}</option>
                    </select>

                    <ng-container *ngIf="shouldShowErrorForControl('cityId')">
                        <p class="error" *ngIf="formGroup.controls['cityId'].errors?.['required']">
                            Полето е задължително!
                        </p>
                    </ng-container>
                </article>
                <article class="create-inline-wrapper">
                    <label for="postCode" [class.error]="shouldShowErrorForControl('zipCode')">Пощенски код:
                        <span>*</span></label>
                    <input type="text" id="postCode" name="postCode" formControlName="zipCode"
                        [class.invalid]="shouldShowErrorForControl('zipCode')" [value]="zipCode">

                    <ng-container *ngIf="shouldShowErrorForControl('zipCode')">
                        <p class="error" *ngIf="formGroup.controls['zipCode'].errors?.['required']">
                            Полето е задължително!
                        </p>
                    </ng-container>
                </article>
            </article>
            <article class="field-wrapper">
                <label for="address" [class.error]="shouldShowErrorForControl('streetName')">Адрес:
                    <span>*</span></label>
                <input type="text" id="address" name="address" formControlName="streetName"
                    [class.invalid]="shouldShowErrorForControl('streetName')">

                <ng-container *ngIf="shouldShowErrorForControl('streetName')">
                    <p class="error" *ngIf="formGroup.controls['streetName'].errors?.['required']">
                        Полето е задължително!
                    </p>
                    <p class="error" *ngIf="formGroup.controls['streetName'].errors?.['minlength']">
                        Полето трябва да е с дължина поне 2 символа!
                    </p>
                    <p class="error" *ngIf="formGroup.controls['streetName'].errors?.['maxlength']">
                        Полето трябва да е с максимална дължина от 40 символа!
                    </p>
                </ng-container>
            </article>

            <article class="field-wrapper">
                <label for="description" class="description-label"
                    [class.error]="shouldShowErrorForControl('description')">Описание*</label>
                <textarea name="" id="description" cols="118" rows="10" formControlName="description"
                    [class.invalid]="shouldShowErrorForControl('description')"></textarea>

                <ng-container *ngIf="shouldShowErrorForControl('description')">
                    <p class="error" *ngIf="formGroup.controls['description'].errors?.['required']">
                        Полето е задължително!
                    </p>
                    <p class="error" *ngIf="formGroup.controls['description'].errors?.['minlength']">
                        Полето трябва да е с дължина поне 2 символа!
                    </p>
                    <p class="error" *ngIf="formGroup.controls['description'].errors?.['maxlength']">
                        Полето трябва да е с максимална дължина от 1000 символа!
                    </p>
                </ng-container>
            </article>
        </section>
        <section class="create-submit-data">
            <p class="required-fields">Полетата, които имат * (звездичка), са задължителни.</p>
            <button type="submit" class="submit-btn">Изпращане</button>
        </section>
    </form>
</section>