<mat-spinner *ngIf="isLoading" style="margin: 0 auto;"></mat-spinner>
<section class="controls" *ngIf="isLoaded">
    <button class="control-btn" disabled>Оръжия</button>
    <button class="control-btn" (click)="notReady()">Тактическа екипировка</button>
    <button class="control-btn" (click)="notReady()">Поддръжка</button>
    <button class="control-btn" (click)="notReady()">Добавки</button>
    <button class="control-btn" (click)="notReady()">Аксесоари</button>
    <button class="control-btn" (click)="notReady()">Облекло</button>
</section>
<section class="create" *ngIf="isLoaded">
    <h1 class="create-title">Добавяне на ново оръжие</h1>
    <form action="" class="create-form" [formGroup]="gunCreateFormGroup" (ngSubmit)="editGun()">
        <section class="create-data">
            <article class="create-wrapper">
                <article class="create-inline-wrapper">
                    <label for="name">Име <span [class.error]="shouldShowErrorForControl('name')">*</span></label>
                    <input type="text" id="name" name="name" formControlName="name"
                        [class.invalid]="shouldShowErrorForControl('name')">

                    <ng-container *ngIf="shouldShowErrorForControl('name')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['name'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['name'].errors?.['minlength']">
                            Полето трябва да е с дължина поне 2 символа!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['name'].errors?.['maxlength']">
                            Полето трябва да е с максимална дължина от 40 символа!
                        </p>
                    </ng-container>
                </article>
                <article class="create-inline-wrapper">
                    <label for="manufacturer">Производител <span
                            [class.error]="shouldShowErrorForControl('manufacturer')">*</span></label>
                    <input type="text" id="manufacturer" name="manufacturer" formControlName="manufacturer"
                        [class.invalid]="shouldShowErrorForControl('manufacturer')">

                    <ng-container *ngIf="shouldShowErrorForControl('manufacturer')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['manufacturer'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['manufacturer'].errors?.['minlength']">
                            Полето трябва да е с дължина поне 2 символа!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['manufacturer'].errors?.['maxlength']">
                            Полето трябва да е с максимална дължина от 40 символа!
                        </p>
                    </ng-container>
                </article>
            </article>
            <article class="create-wrapper">
                <article class="create-inline-wrapper">
                    <label for="power">Мощност(J) <span
                            [class.error]="shouldShowErrorForControl('power')">*</span></label>
                    <input type="number" id="power" name="power" formControlName="power"
                        [class.invalid]="shouldShowErrorForControl('power')">

                    <ng-container *ngIf="shouldShowErrorForControl('power')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['power'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['power'].errors?.['min']">
                            Минималната стойност на полето е 1!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['power'].errors?.['max']">
                            Максималната стойност на полето е 999!
                        </p>
                    </ng-container>
                </article>
            </article>
            <article class="create-wrapper">
                <article class="create-inline-wrapper">
                    <label for="color">Цвят <span [class.error]="shouldShowErrorForControl('color')">*</span></label>
                    <input type="text" id="color" name="color" formControlName="color"
                        [class.invalid]="shouldShowErrorForControl('color')">

                    <ng-container *ngIf="shouldShowErrorForControl('color')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['color'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['color'].errors?.['minlength']">
                            Полето трябва да е с дължина поне 2 символа!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['color'].errors?.['maxlength']">
                            Полето трябва да е с максимална дължина от 40 символа!
                        </p>
                    </ng-container>
                </article>
                <article class="create-inline-wrapper">
                    <label for="weight">Тегло (гр.) <span
                            [class.error]="shouldShowErrorForControl('weight')">*</span></label>
                    <input type="number" id="weight" name="weight" formControlName="weight"
                        [class.invalid]="shouldShowErrorForControl('weight')">

                    <ng-container *ngIf="shouldShowErrorForControl('weight')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['weight'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['weight'].errors?.['min']">
                            Минималната стойност на полето е 1!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['weight'].errors?.['max']">
                            Максималната стойност на полето е 9999!
                        </p>
                    </ng-container>
                </article>
            </article>
            <article class="create-wrapper">
                <article class="create-inline-wrapper">
                    <label for="magazine">Вид на пълнителя: <span
                            [class.error]="shouldShowErrorForControl('magazine')">*</span></label>
                    <input type="text" id="magazine" name="magazine" formControlName="magazine"
                        [class.invalid]="shouldShowErrorForControl('magazine')">

                    <ng-container *ngIf="shouldShowErrorForControl('magazine')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['magazine'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['magazine'].errors?.['minlength']">
                            Полето трябва да е с дължина поне 2 символа!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['magazine'].errors?.['maxlength']">
                            Полето трябва да е с максимална дължина от 40 символа!
                        </p>
                    </ng-container>
                </article>
                <article class="create-inline-wrapper">
                    <label for="capacity">Капацитет на пълнителя: <span
                            [class.error]="shouldShowErrorForControl('capacity')">*</span></label>
                    <input type="text" id="capacity" name="capacity" formControlName="capacity"
                        [class.invalid]="shouldShowErrorForControl('capacity')">

                    <ng-container *ngIf="shouldShowErrorForControl('capacity')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['capacity'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['capacity'].errors?.['min']">
                            Минималната стойност на полето е 1!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['capacity'].errors?.['max']">
                            Максималната стойност на полето е 999!
                        </p>
                    </ng-container>
                </article>
            </article>
            <article class="create-wrapper">
                <article class="create-inline-wrapper">
                    <label for="speed">Скорост (FPS): <span
                            [class.error]="shouldShowErrorForControl('speed')">*</span></label>
                    <input type="number" id="speed" name="speed" formControlName="speed"
                        [class.invalid]="shouldShowErrorForControl('speed')">

                    <ng-container *ngIf="shouldShowErrorForControl('speed')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['speed'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['speed'].errors?.['min']">
                            Минималната стойност на полето е 1!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['speed'].errors?.['max']">
                            Максималната стойност на полето е 999!
                        </p>
                    </ng-container>
                </article>
                <article class="create-inline-wrapper">
                    <label for="firing">Вид на стрелбата: <span
                            [class.error]="shouldShowErrorForControl('firing')">*</span></label>
                    <input type="text" id="firing" name="firing" formControlName="firing"
                        [class.invalid]="shouldShowErrorForControl('firing')">

                    <ng-container *ngIf="shouldShowErrorForControl('firing')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['firing'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['firing'].errors?.['minlength']">
                            Полето трябва да е с дължина поне 2 символа!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['firing'].errors?.['maxlength']">
                            Полето трябва да е с максимална дължина от 40 символа!
                        </p>
                    </ng-container>
                </article>
            </article>
            <article class="create-wrapper">
                <article class="create-inline-wrapper">
                    <label for="length">Дължина (мм): <span
                            [class.error]="shouldShowErrorForControl('length')">*</span></label>
                    <input type="text" id="length" name="length" formControlName="length"
                        [class.invalid]="shouldShowErrorForControl('length')">

                    <ng-container *ngIf="shouldShowErrorForControl('length')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['length'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['length'].errors?.['min']">
                            Минималната стойност на полето е 1!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['length'].errors?.['max']">
                            Максималната стойност на полето е 9999!
                        </p>
                    </ng-container>
                </article>
                <article class="create-inline-wrapper">
                    <label for="barrel">Дължина на цевта (мм): <span
                            [class.error]="shouldShowErrorForControl('barrel')">*</span></label>
                    <input type="text" id="barrel" name="barrel" formControlName="barrel"
                        [class.invalid]="shouldShowErrorForControl('barrel')">

                    <ng-container *ngIf="shouldShowErrorForControl('barrel')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['barrel'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['barrel'].errors?.['min']">
                            Минималната стойност на полето е 1!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['barrel'].errors?.['max']">
                            Максималната стойност на полето е 9999!
                        </p>
                    </ng-container>
                </article>
            </article>
            <article class="create-wrapper">
                <article class="create-inline-wrapper">
                    <label for="propulsion">Задвижване: <span
                            [class.error]="shouldShowErrorForControl('propulsion')">*</span></label>
                    <select id="propulsion" class="custom-select" formControlName="propulsion"
                        [class.invalid]="shouldShowErrorForControl('propulsion')">
                        <option value="Газово" selected>Газово</option>
                        <option value="Спрингово">Спрингово</option>
                        <option value="Електрическо">Електрическо</option>
                        <option value="Хибридно">Хибридно</option>
                    </select>

                    <ng-container *ngIf="shouldShowErrorForControl('propulsion')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['propulsion'].errors?.['required']">
                            Полето е задължително!
                        </p>
                    </ng-container>
                </article>
                <article class="create-inline-wrapper">
                    <label for="material">Изработка: <span
                            [class.error]="shouldShowErrorForControl('material')">*</span></label>
                    <input type="text" id="material" name="material" formControlName="material"
                        [class.invalid]="shouldShowErrorForControl('material')">

                    <ng-container *ngIf="shouldShowErrorForControl('material')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['material'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['material'].errors?.['minlength']">
                            Полето трябва да е с дължина поне 2 символа!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['material'].errors?.['maxlength']">
                            Полето трябва да е с максимална дължина от 40 символа!
                        </p>
                    </ng-container>
                </article>
            </article>
            <article class="create-wrapper">
                <article class="create-inline-wrapper">
                    <label for="blowback">Блоубек: <span
                            [class.error]="shouldShowErrorForControl('blowback')">*</span></label>
                    <input type="text" id="blowback" name="blowback" formControlName="blowback"
                        [class.invalid]="shouldShowErrorForControl('blowback')">

                    <ng-container *ngIf="shouldShowErrorForControl('blowback')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['blowback'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['blowback'].errors?.['minlength']">
                            Полето трябва да е с дължина поне 2 символа!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['blowback'].errors?.['maxlength']">
                            Полето трябва да е с максимална дължина от 40 символа!
                        </p>
                    </ng-container>
                </article>
                <article class="create-inline-wrapper">
                    <label for="hopup">Хоп-Ъп: <span [class.error]="shouldShowErrorForControl('hopup')">*</span></label>
                    <input type="text" id="hopup" name="hopup" formControlName="hopup"
                        [class.invalid]="shouldShowErrorForControl('hopup')">

                    <ng-container *ngIf="shouldShowErrorForControl('hopup')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['hopup'].errors?.['required']">
                            Полето е задължително!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['hopup'].errors?.['minlength']">
                            Полето трябва да е с дължина поне 2 символа!
                        </p>
                        <p class="error" *ngIf="gunCreateFormGroup.controls['hopup'].errors?.['maxlength']">
                            Полето трябва да е с максимална дължина от 40 символа!
                        </p>
                    </ng-container>
                </article>
            </article>
            <article class="create-wrapper">
                <article class="create-inline-wrapper">
                    <label for="subCategoryName">Категория: <span
                            [class.error]="shouldShowErrorForControl('subCategoryName')">*</span></label>
                    <select id="subCategoryName" class="custom-select" formControlName="subCategoryName"
                        [class.invalid]="shouldShowErrorForControl('subCategoryName')">
                        <option *ngFor="let category of gunSubCategories" id="{{category.id}}"
                            value="{{category.name}}">{{category.name}}</option>
                    </select>

                    <ng-container *ngIf="shouldShowErrorForControl('subCategoryName')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['subCategoryName'].errors?.['required']">
                            Полето е задължително!
                        </p>
                    </ng-container>
                </article>
                <article class="create-inline-wrapper">
                    <label for="price">Цена (лв.): <span
                            [class.error]="shouldShowErrorForControl('price')">*</span></label>
                    <input type="number" id="price" name="price" formControlName="price"
                        [class.invalid]="shouldShowErrorForControl('price')">

                    <ng-container *ngIf="shouldShowErrorForControl('price')">
                        <p class="error" *ngIf="gunCreateFormGroup.controls['price'].errors?.['required']">
                            Полето е задължително!
                        </p>
                    </ng-container>
                </article>
            </article>
        </section>
        <section class="create-submit-data">
            <p class="required-fields">Полетата, които имат * (звездичка), са задължителни.</p>
            <button type="submit" [disabled]="gunCreateFormGroup.invalid" class="submit-btn">Изпращане</button>
        </section>
    </form>
</section>