<mat-spinner *ngIf="isLoading"></mat-spinner>
<section class="wish-list" *ngIf="isLoaded">
    <article class="not-logged-user-message">
        <span><i class="fa-solid fa-circle-info"></i></span>
        <p>
            Списъкът с любими се запазва само за регистрирани потребители. Моля да <a href="">влезете с
                акаунта
                си</a> или
            ако
            нямате такъв, може да си направите <a href="">регистрация.</a>
        </p>
    </article>

    <article class="wish-list-item-headings">
        <span></span>
        <h6 class="wish-list-item-heading">
            Добавен в любими на:
        </h6>
        <h6 class="wish-list-item-heading">
            Цена на продукт:
        </h6>
        <span></span>
    </article>
    <article class="wish-list-item" *ngFor="let item in items">
        <article class="wish-list-item-product">
            <a href="" class="wish-item-image-container">
                <img src="{{item.imageUrl}}" alt="">
            </a>
            <article class="wish-item-title-wrapper">
                <a href="" class="wish-item-title">
                    {{item.capacity}}bbs {{item.name}}
                </a>
                <p class="wish-item-manufacturer">Производител: {{item.manufacturer}}</p>
            </article>
        </article>
        <p>{{item.dateAdded}} г.</p>
        <p>{{item.price}} лв.</p>
        <article class="wish-list-item-buttons">
            <button class="wish-button" (click)="addToCart(item.id, item.price)">Купи</button>
            <button class="wish-button" (click)="onRemove(item.id)">Премахни</button>
        </article>
    </article>

    <form action="post">
        <button class="cart-button">
            <i class="fa-solid fa-cart-arrow-down"></i> Добави всички в количката
        </button>
    </form>
</section>