<section class="wish-list">
    <article class="not-logged-user-message">
        <span><i class="fa-solid fa-circle-info"></i></span>
        <p>
            Списъкът с любими се запазва само за регистрирани потребители. Моля да <a href="">влезете с
                акаунта
                си</a> или
            ако
            нямате такъв, може да си направите <a href="">регистрация.</a>
        </p>
    </article>

    <article class="wish-list-item-headings">
        <span></span>
        <h6 class="wish-list-item-heading">
            Добавен в любими на:
        </h6>
        <h6 class="wish-list-item-heading">
            Цена на продукт:
        </h6>
        <span></span>
    </article>
    <article class="wish-list-item">
        <article class="wish-list-item-product">
            <a href="" class="wish-item-image-container">
                <img src="./images/m4.jpg" alt="">
            </a>
            <article class="wish-item-title-wrapper">
                <a href="" class="wish-item-title">
                    320bbs M4 Carabine
                </a>
                <p class="wish-item-manufacturer">Производител: Каспичан ООД</p>
            </article>
        </article>
        <p>30.03.2022 г.</p>
        <p>120 лв.</p>
        <article class="wish-list-item-buttons">
            <button class="wish-button">Купи</button>
            <button class="wish-button">Премахни</button>
        </article>
    </article>

    <article class="wish-list-item">
        <article class="wish-list-item-product">
            <a href="" class="wish-item-image-container">
                <img src="./images/glock.jpg" alt="">
            </a>
            <article class="wish-item-title-wrapper">
                <a href="" class="wish-item-title">
                    320bbs M4 Carabine
                </a>
                <p class="wish-item-manufacturer">Производител: Каспичан ООД</p>
            </article>
        </article>
        <p>30.03.2022 г.</p>
        <p>120 лв.</p>
        <article class="wish-list-item-buttons">
            <button class="wish-button">Купи</button>
            <button class="wish-button">Премахни</button>
        </article>
    </article>

    <article class="wish-list-item">
        <article class="wish-list-item-product">
            <a href="" class="wish-item-image-container">
                <img src="./images/mask.jpg" alt="">
            </a>
            <article class="wish-item-title-wrapper">
                <a href="" class="wish-item-title">
                    320bbs M4 Carabine
                </a>
                <p class="wish-item-manufacturer">Производител: Каспичан ООД</p>
            </article>
        </article>
        <p>30.03.2022 г.</p>
        <p>120 лв.</p>
        <article class="wish-list-item-buttons">
            <button class="wish-button">Купи</button>
            <button class="wish-button">Премахни</button>
        </article>
    </article>
    <form action="">
        <button class="cart-button"><i class="fa-solid fa-cart-arrow-down"></i> Добави всички в
            количката</button>
    </form>
</section>