<header>
    <nav class="nav">
        <section>
            <article class="nav-logo">
                <a routerLink="/home"><img src="../../assets/img/logo-head.png" alt="Site Logo"></a>
            </article>
            <button class="catalog-btn" id="catalog-btn" (click)="catalogClick()">Каталог <i class="fa-solid fa-bars"
                    id="catalog-btn-icon"></i></button>
            <article id="nav-catalog" class="nav-catalog" hidden>
                <ul (mouseleave)="mouseOut()" class="catalog-menu" *ngIf="categories">
                    <li *ngFor="let category of categories">
                        <img src={{category.image.url}} alt="guns logo">
                        <a routerLink="/products/guns/all">
                            {{category.name}}
                        </a>
                        <ul class="sub-menu">
                            <li *ngFor="let subCategory of category.subCategories">
                                <a [routerLink]="['/products/guns', subCategory.name]">{{subCategory.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </article>
        </section>
        <ul class="nav-menu">
            <li *ngIf="!isLoggedIn">
                <a class="nav-menu-item-link" routerLink="login">
                    <i class="fa-regular fa-user fa-2xl"></i>
                    <span>Вход/Регистрация</span>
                </a>
            </li>
            <li *ngIf="isLoggedIn">
                <a class="nav-menu-item-link" [routerLink]="isClient ? 'client/profile' : 'dealer/profile'">
                    <i class="fa-regular fa-user fa-2xl"></i>
                    <span>Профил</span>
                </a>
            </li>
            <li *ngIf="!isClient && isLoggedIn">
                <a class="nav-menu-item-link" [routerLink]="['products', 'create']">
                    <i class="fa-solid fa-person-rifle fa-2xl"></i>
                    <span>Добави артикул</span>
                </a>
            </li>
            <li *ngIf="isClient">
                <a class="nav-menu-item-link" routerLink="building">
                    <i class="fa-regular fa-heart fa-2xl"></i>
                    <span>Любими</span>
                    <span class="badge" hidden>1</span>
                </a>
            </li>
            <li *ngIf="isClient">
                <a class="nav-menu-item-link" routerLink="building">
                    <i class="fa-solid fa-scale-balanced fa-2xl"></i>
                    <span>Сравни</span>
                    <span class="badge" hidden>1</span>
                </a>
            </li>
            <li>
                <a class="nav-menu-item-link" routerLink="building">
                    <i class="fa-solid fa-map-location fa-2xl"></i>
                    <span>Терени</span>
                </a>
            </li>
            <li *ngIf="isClient && isLoggedIn">
                <a class="nav-menu-item-link" routerLink="cart">
                    <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                    <span>{{cartItemsPrice}} лв.</span>
                    <span class="badge" [hidden]="cartItemsCount == 0">{{cartItemsCount}}</span>
                </a>
            </li>
            <li *ngIf="isLoggedIn">
                <a (click)="logOut()" href="javascript:void(0)" class="nav-menu-item-link">
                    <i class="fa-solid fa-person-walking-arrow-right fa-2xl"></i>
                    <span>Излез</span>
                </a>
            </li>
        </ul>
    </nav>
</header>