<section class="not-found">
    <div id="error-page">
        <div class="content">
            <h2 class="header" data-text="404">
                404</h2>
            <h4 data-text="Opps! Page not found">
                Оппс! Страницата не е намерена</h4>
            <p>
                Извинете за неудобството, страницата не е намерена. Ако смятате, че има проблем, моля да ни съобщите.
            </p>
            <div class="btns">
                <a routerLink="/home">Начало</a>
                <a routerLink="/building">Съобщи за проблем</a>
            </div>
        </div>
    </div>
</section>