<footer>
    <article class="footer-menu-logo">
        <img src="../../../assets/img/logo-head.png" alt="logo">
    </article>
    <section class="container">
        <article class="footer-menu">
            <h3 class="footer-menu-title">
                Контакти
            </h3>
            <address class="footer-menu-nav-item">
                гр. Плевен, 5800
            </address>
            <p class="footer-menu-nav-item">
                Телефон за контакти: 0987887778
            </p>
            <p class="footer-menu-nav-item">
                <a href="mailto:bgairsoft@gmail.com">bgairsoft@gmail.com</a>
            </p>
        </article>

        <article class="footer-menu">
            <h3 class="footer-menu-title">
                Нашите партньори
            </h3>
            <ul class="footer-menu-nav">
                <li class="footer-menu-nav-item">
                    <a href="#" target="_blank">AirsoftBulgaria</a>
                </li>
                <li class="footer-menu-nav-item">
                    <a href="#" target="_blank">AirsoftSofia</a>
                </li>
                <li class="footer-menu-nav-item">
                    <a href="#" target="_blank">Бойно поле</a>
                </li>
                <li class="footer-menu-nav-item">
                    <a href="#" target="_blank">CRG-Airsoft</a>
                </li>
                <li class="footer-menu-nav-item">
                    <a href="#" target="_blank">TheArmoury</a>
                </li>
            </ul>
        </article>

        <article class="footer-menu">
            <h3 class="footer-menu-title">
                Информация
            </h3>
            <ul class="footer-menu-nav">
                <li class="footer-menu-nav-item">
                    <a href="">За нас</a>
                </li>
                <li class="footer-menu-nav-item">
                    <a href="">Политика на поверителност</a>
                </li>
                <li class="footer-menu-nav-item">
                    <a href="">Блог</a>
                </li>
                <li class="footer-menu-nav-item">
                    <a href="">Стани партньор</a>
                </li>
                <li class="footer-menu-nav-item">
                    <a href="">Всички игри</a>
                </li>
                <li class="footer-menu-nav-item">
                    <a href="">Всички терени</a>
                </li>
            </ul>
        </article>

        <article class="footer-menu">
            <article class="footer-menu-social">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
            </article>
            <p class="footer-copyright">
                &copy; 2022-2022 - BG AIRSOFT.
            </p>
            <p class="footer-copyright-rights">
                Всички права запазени.
            </p>
        </article>
    </section>
</footer>